@use 'variables';

.about {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;

		&__description {
			font-size: 22px;
			line-height: 32px;
			color: variables.$textcolor;
			font-family: variables.$secondaryfont;
			text-align: center;
		}
	}
}
