@use 'variables';

.about {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& h2 {
			margin-bottom: 50px;
			text-align: center;
		}

		&__description {
			font-size: 22px;
			line-height: 32px;
			color: variables.$textcolor;
			font-family: variables.$secondaryfont;
			text-align: center;
		}
	}
}
