.characters {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;

		& h2 {
			margin-bottom: 50px;
			text-align: center;
		}

		&__list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-items: center;
			align-items: center;
			gap: 40px 20px;

			@media (max-width: 1024px) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width: 767px) {
				grid-template-columns: 1fr;
			}
		}

		&__list__item {
			display: flex;
			flex-direction: column;
			gap: 10px;

			& img {
				border-radius: 10px;
			}
		}
	}
}
