@use 'variables';

.faq {
	&__questions {
		width: 100%;
		margin-top: 50px;

		&__item {
			background-color: variables.$faqcolor;
			margin-bottom: 16px;
			border-radius: 10px;

			&__question {
				font-family: variables.$primaryfont;
				color: variables.$textcolor;
				letter-spacing: 1px;
				font-size: 18px;
				line-height: 28px;
				padding: 24px;
				display: block;
				cursor: pointer;
				position: relative;
				margin-right: 24px;

				@media (max-width: 767px) {
					font-size: 16px;
					line-height: 26px;
				}

				&::after {
					content: '+';
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					display: flex;
					align-items: center;
					font-size: 40px;
				}
			}

			&__answer {
				height: 0;
				overflow: hidden;
				padding: 0 24px;
				transition: height 0.5s ease;
			}

			&--is-open {
				.faq__questions__item__answer {
					height: auto;
					padding-bottom: 24px;
					transition: height 0.5s ease;
				}
				.faq__questions__item__question::after {
					content: '-';
				}
			}
		}
	}
}
