@use 'variables';

.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 100px;
	display: flex;
	justify-content: space-between;
	z-index: 999;
	background-color: variables.$header;
	transition: background-color 0.5s ease;

	&__menu-toggle {
		display: none;
		flex-direction: column;
		gap: 5px;
		background: none;
		border: none;
		cursor: pointer;

		@media (max-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		& span {
			display: block;
			width: 25px;
			height: 3px;
			background-color: variables.$textcolor
			border-radius: 2px;
		}
	}

	@media (max-width: 1024px) {
		padding: 15px 35px;
	}
	@media (max-width: 767px) {
		padding: 15px 20px;
	}

	&--is-hidden {
		background-color: transparent;
		transition: background-color 0.5s ease;

		.header {
			&__logo {
				visibility: hidden;
				transition: opacity 0.5s ease;
			}
		}
	}

	&__logo {
		max-width: 150px;
		width: 100%;
		transition: opacity 0.5s ease;

		@media (max-width: 767px) {
			max-width: 120px;
		}
	}

	&__links {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: center;

		@media (max-width: 767px) {
			display: none;
			flex-direction: column;
			position: absolute;
			top: 100%;
			right: 0;
			background-color: variables.$header;
			width: 100%;
			padding: 10px 0;
		}

		&--is-open {
			display: flex;
		}

		&__item {
			& a {
				text-decoration: none;
				font-size: 20px;

				&:hover {
					color: variables.$hovercolor;
					border-bottom: 2px solid variables.$hovercolor;
					padding-bottom: 5px;
				}
			}
		}
	}
}
