@use 'variables';

.hero {
	display: flex;
	min-height: 80vh;
	background-image: url(../img/matrix-bg.webp);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	@media (max-width: 767px) {
		min-height: 60vh;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(
			to bottom,
			rgba(18, 18, 18, 0) 0%,
			rgba(18, 18, 18, 1) 90%
		);
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&__content {
		display: flex;
		flex-direction: column;
		z-index: 999;
		justify-content: center;
		align-items: center;

		&__branding img {
			width: 100%;
		}

		&__buttons {
			display: flex;
			margin-top: 40px;
			gap: 40px;

			@media (max-width: 767px) {
				gap: 20px;
			}

			a {
				padding: 8px 40px;
				border-radius: 30px;
				text-decoration: none;
				color: variables.$textcolor;
				text-align: center;
			}

			.red__pill {
				background: linear-gradient(
					180deg,
					rgba(209, 46, 46, 1) 50%,
					rgba(133, 0, 0, 1) 100%
				);
				border: 2px solid rgba(133, 0, 0, 1);
				&:hover {
					background: none;
				}
			}

			.blue__pill {
				background: linear-gradient(
					180deg,
					rgba(24, 66, 133, 1) 0%,
					rgba(0, 38, 99, 1) 100%
				);
				border: 2px solid rgba(0, 38, 99, 1);
				&:hover {
					background: none;
					border: 2px solid rgba(24, 66, 133, 1);
				}
			}
		}
	}
}
