// Cores
$bgcolor: #121212;
$primarycolor: #00bd44;
$hovercolor: #0bdb0b;
$textcolor: #e6e6e6;
$faqcolor: #131d14;

// Fontes
$primaryfont: 'Orbitron', sans-serif;
$secondaryfont: 'Roboto', sans-serif;
