@use 'variables';
@use 'hero';
@use 'movies';

//Mixins
@mixin text($fontSize: 16px) {
	font-family: variables.$secondaryfont;
	font-size: $fontSize;
	line-height: $fontSize + 10px;
	color: variables.$textcolor;
}

@mixin titles($fontSize: 16px) {
	font-family: variables.$primaryfont;
	font-size: $fontSize;
	line-height: $fontSize + 10px;
	color: variables.$primarycolor;
}

@mixin layout() {
	max-width: 1280px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	overflow-x: hidden;
}

// Layout da Seção

.container {
	@include layout();
	padding: 80px 50px;
	@media (max-width: 1024px) {
		width: 90%;
		padding: 60px 0;
	}
	@media (max-width: 767px) {
		width: 80%;
		padding: 50px 0;
	}
}

// Modificadores de Texto
.txt {
	&--lg {
		@include titles(36px);
		@media (max-width: 767px) {
			@include titles(26px);
		}
	}

	&--md {
		@include titles(24px);
		@media (max-width: 767px) {
			@include titles(20px);
		}
	}

	&--sm {
		@include text();
	}

	&--btn {
		@include titles(18px);
		@media (max-width: 767px) {
			@include text(16px);
		}
	}
}

// Reset CSS
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Layout
body {
	background-color: variables.$bgcolor;
}
